/* line 1, ../sass/default.sass */
#copyleft {
  height: 1em;
}

/* line 4, ../sass/default.sass */
#licencia {
  text-align: center;
}

/* line 7, ../sass/default.sass */
footer {
  background-color: whitesmoke;
}
/* line 10, ../sass/default.sass */
footer dl {
  padding: 0 10px;
}
