@font-face {
  font-family: "PT Sans";
  src: url('/css/fonts/PT-Sans/PTS55F.ttf') format('truetype');
}

@font-face {
  font-family: "Harabara";
  src: url('/css/fonts/Harabara/Harabara.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation";
  src: url('/css/fonts/sansation/Sansation_Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Neuton";
  src: url('/css/fonts/neuton/Neuton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Linux Libertine";
  src: url('/css/fonts/linux_libertine/LinLibertine_RB.ttf') format('truetype');
}

/* line 21, ../sass/inicio.scss */
img.brand {
  height: 1em;
}
