@font-face {
  font-family: "PT Sans";
  src: url('/proyecto/css/fonts/PT-Sans/PTS55F.ttf') format('truetype');
}

@font-face {
  font-family: "Harabara";
  src: url('/proyecto/css/fonts/Harabara/Harabara.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation";
  src: url('/proyecto/css/fonts/sansation/Sansation_Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Neuton";
  src: url('/proyecto/css/fonts/neuton/Neuton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Linux Libertine";
  src: url('/proyecto/css/fonts/linux_libertine/LinLibertine_RB.ttf') format('truetype');
}

/* line 20, ../sass/inicio.scss */
body {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #89d7d7), color-stop(100%, #194848));
  background: -webkit-linear-gradient(left center, #89d7d7, #194848);
  background: -moz-linear-gradient(left center, #89d7d7, #194848);
  background: -o-linear-gradient(left center, #89d7d7, #194848);
  background: linear-gradient(left center, #89d7d7, #194848);
  height: 100%;
}

/* line 25, ../sass/inicio.scss */
.presentacion {
  width: 50%;
  text-align: center;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  min-width: 470px;
}

/* line 32, ../sass/inicio.scss */
.video {
  width: 470px;
  text-align: center;
  display: inline-block;
  height: 320px;
}

/* line 38, ../sass/inicio.scss */
.texto {
  width: 40%;
  text-align: justify;
  display: inline-block;
  padding-right: 5%;
  padding-left: 1%;
  padding-top: 4%;
  min-width: 390px;
  font-family: "Linux Libertine";
  font-size: 1.5em;
}
