/* line 1, ../sass/login.scss */
html, body, div.container {
  height: 100%;
  padding-top: 0;
}

/* line 5, ../sass/login.scss */
div.row {
  position: absolute;
  top: 20%;
}

/* line 9, ../sass/login.scss */
img.login {
  max-height: 302px;
}

/* line 12, ../sass/login.scss */
h1 {
  margin: 0;
}
